<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <header class="header">

            <section class="flex">
                <div id="menu-btn" class="fas fa-bars-staggered"></div>

                <a href="/" class="logo"><i
                        class="fas fa-briefcase"></i>JobBoard</a>
                <nav class="navbar">
                    <a href="/">home</a>
                    <a href="./about.ejs">about us</a>
                    <a href="./jobs.ejs">all jobs</a>
                    <a href="./contact.ejs">contact us</a>
                    <a href="./login.ejs">account</a>
                </nav>
                <a href="#" class="btn" style="margin-top: 0;">post job</a>

            </section>
        </header>

        <div class="section-title">about us</div>
        <section class="about">
            <div class="box">
                <h3>why choose us?</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Est, quibusdam mollitia praesentium eum at ullam numquam a.
                    Odio doloremque, quam cupiditate tempora sequi quia illo aut
                    quidem totam in obcaecati sapiente maxime! Esse, nisi dolor
                    vero doloremque enim a expedita maiores sequi nihil, natus
                    repellat obcaecati velit. Incidunt, facere cupiditate?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Quas ducimus ut distinctio praesentium. Quibusdam magnam
                    adipisci exercitationem ipsa repellat tempora fugiat modi,
                    cumque odio consequuntur obcaecati accusantium tempore.
                    Aliquid labore debitis libero tempore velit molestias
                    accusantium dolorem obcaecati praesentium sit assumenda,
                    dicta harum vitae nisi cupiditate voluptates sunt alias
                    vel.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolores commodi at numquam tempore. Quod ex voluptatum sunt
                    tenetur placeat dolorum.</p>
                <a href="./contact.ejs" class="btn">contact us</a>
            </div>
        </section>

        <div class="section-title">top reviews</div>
        <section class="reviews">
            <div class="box-container">
                <div class="box">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3 class="title">amazing results</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Vel quaerat numquam deserunt porro omnis
                        consequuntur Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Maiores, assumenda.?</p>
                    <div class="user">
                        <img src="Images/img4.jpg" alt>
                        <div>
                            <h3>jagriti kumari</h3>
                            <span>web designer</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3 class="title">easy to use</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Vel quaerat numquam deserunt porro omnis lorem, ipsum
                        dolor sit amet elit. amet consectetur.
                        consequuntur Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</p>

                    <div class="user">
                        <img src="Images/img9.jpg" alt>
                        <div>
                            <h3>khushi kumari</h3>
                            <span>frontend developer</span>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3 class="title">good experience</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Vel quaerat numquam deserunt porro omnis
                        consequuntur Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Maiores, assumenda.?</p>
                    <div class="user">
                        <img src="Images/img5.jpg" alt>
                        <div>
                            <h3>anjali kumari</h3>
                            <span>content writer</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3 class="title">Got selected</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Vel quaerat numquam deserunt porro omnis
                        consequuntur Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Maiores, assumenda.?</p>
                    <div class="user">
                        <img src="Images/img7.jpg" alt>
                        <div>
                            <h3>adarsh kumar</h3>
                            <span>backend developer</span>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3 class="title">wide range</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Vel quaerat numquam deserunt porro omnis
                        consequuntur Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Maiores, assumenda.?</p>
                    <div class="user">
                        <img src="Images/img8.jpg" alt>
                        <div>
                            <h3>samay kumar</h3>
                            <span>full stack</span>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3 class="title">user-friendly</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Vel quaerat numquam deserunt porro omnis lorem, ipsum
                        dolor sit amet elit. amet consectetur.
                        consequuntur Lorem ipsum dolor sit amet consectetur
                        adipisicing elit.</p>

                    <div class="user">
                        <img src="Images/img10.jpg" alt>
                        <div>
                            <h3>Himanshu</h3>
                            <span>Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <section class="grid">
                <div class="box">
                    <h3>quick links</h3>
                    <a href="/"><i class="fas fa-angle-right"></i>
                        home</a>
                    <a href="./about.ejs"><i class="fas fa-angle-right"></i>
                        about</a>
                    <a href="./jobs.ejs"><i class="fas fa-angle-right"></i> all
                        jobs</a>
                    <a href="./contact.ejs"><i class="fas fa-angle-right"></i>
                        contact us</a>
                    <a href="#"><i class="fas fa-angle-right"></i> filter
                        search</a>
                </div>

                <div class="box">
                    <h3>extra links</h3>
                    <a href="#"><i class="fas fa-angle-right"></i> account</a>
                    <a href="./login.ejs"><i class="fas fa-angle-right"></i>
                        login</a>
                    <a href="./register.ejs"><i class="fas fa-angle-right"></i>
                        register</a>
                    <a href="#"><i class="fas fa-angle-right"></i> post job</a>
                    <a href="#"><i class="fas fa-angle-right"></i> dashboard</a>
                </div>

                <div class="box">
                    <h3>follow us</h3>
                    <a href="#"><i class="fab fa-facebook-f"></i> facebook</a>
                    <a href="#"><i class="fab fa-twitter"></i> twitter</a>
                    <a href="#"><i class="fab fa-instagram"></i> instagram</a>
                    <a href="#"><i class="fab fa-linkedin"></i> linkedin</a>
                    <a href="#"><i class="fab fa-youtube"></i> youtube</a>
                </div>
            </section>
            <div class="credit">&copy; copyright @2024 by <span>Panch</span> |
                all rights reserved </div>
        </footer>

        <script src="./script.js"></script>

    </body>
</html>